<!DOCTYPE html>
<html>
<head>
    <title>Road mate</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <p>This is the header</p>
    </header>
    <div class="main-body">
        <div class="login">
        <div><button>customer</button><button>mechanic</button></div>
            <div class="customerlogin">
                <form >
                    
                    <input type="text" name="username" placeholder="Username">
                    
                    <input type="password" name="password" placeholder="Password">
                    
                </form>
            </div>
            <div class="mechaniclogin">
            </div>
        </div>

    </div>


</body>

</html>