<!DOCTYPE html>
<html>
<head>
    <title>Road mate</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <p>This is the header</p>
    </header>
    <div class="main-body">
        <div class="login">
        <div class="butt"><button class="customer-selected" id="customer" onclick="toggle(event)">customer</button><button class="mech" id="mechanic" onclick="toggle2(event)">mechanic</button></div>
            <div class="customerlogin">
                <form >
                    
                    <input type="text" name="username" placeholder="Username">
                    
                    <input type="password" name="password" placeholder="Password">
                    
                    <button onclick="login(event)">Login</button>
                </form>
            </div>
            <div class="mechaniclogin">
            </div>
        </div>

    </div>

<script src="/js/main.js" rel="text/javascript"></script>
</body>

</html>