<!DOCTYPE html>
<html>
<head>
    <title>Road mate</title>
</head>
<body>
    <header>
        <p>This is the header</p>
    </header>
    <div class="main-body">
        
    </div>


</body>

</html>