<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <form action="" method="post">
        <div>
            <h4>Full name</h4>
            <input type="text" name="name" size="30"/>
            <br>
        </div>
        <div>
            <h4>User name</h4>
            <input type="text" name="username" size="30" placeholder="raj3"/>
            <br>
        </div>
        <div>
            <h4>Mobile no</h4>
            <input type="number" name="mobile" size="30"/>
            <br>
        </div>
        <div>
            <h4>Vehicle type</h4>
            <select class="form-control" name="vehicle" id="vehicle">
                <option value="Motorcycle">Motorcycle</option>
                <option value="Car">Car</option>
                <option value="Truck">Truck</option>
            </select>
            <br>
        </div>
        <div>
            <h4>password</h4>
            <input type="password" name="password" size="30"/>
            <br>
        </div>
        <div>
            <h4>Confirm password</h4>
            <input type="password" name="confirmpassword" size="30"/>
            <br>
        </div>
    </form>
</body>
</html>