<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

</head>

<body style="background-color: wheat;">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <div class="container col-md-6">
        <div class="text-center">
            <h2>Registeration form Mechanic</h2>
        </div>
        <form class="" action="" method="post">
            <div class="form-group">
                <div>
                    <h4>Full name</h4>
                    <input class="form-control" type="text" name="name" size="30" placeholder="Ajit Kumar" />
                    <br>
                </div>
                <div>
                    <h4>User name</h4>
                    <input class="form-control" type="text" name="username" size="30" placeholder="rahul23" />
                    <br>
                </div>
                <div>
                    <h4>Mobile no</h4>
                    <input class="form-control" type="number" name="mobile" size="30" placeholder="9329329329" />
                    <br>
                </div>
                <div>
                    <fieldset class="form-group">
                        <legend>
                            <h4>Store address:</h4>
                        </legend>
                        <h4>Room / plot no.</h4>
                        <input class="form-control" type="text" name="addressroom" size="30" placeholder="34 B-wing" />
                        <br>
                        <h4>Locality:</h4>
                        <input class="form-control" type="text" name="addresslocality" size="30"
                            placeholder="Saidham Society" />
                        <br>
                        <h4>Landmark:</h4>
                        <input class="form-control" type="text" name="addresslandmark" size="30"
                            placeholder="Near city mall" />
                        <br>
                        <h4>District:</h4>
                        <input class="form-control" type="text" name="addressdistrict" size="30"
                            placeholder="Jaunpur" />
                        <br>
                        <h4>pincode:</h4>
                        <input class="form-control" type="number" name="addresspincode" size="30"
                            placeholder="222201" />
                        <br>
                    </fieldset>
                </div>
                <div>
                    <h4>password</h4>
                    <input class="form-control" type="password" name="password" size="30" />
                    <br>
                </div>
                <div>
                    <h4>Confirm password</h4>
                    <input class="form-control" type="password" name="confirmpassword" size="30" />
                    <br>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" name="registermechanic">Register</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>