<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <form action="" method="post">
        <div>
            <h4>Full name</h4>
            <input type="text" name="name" size="30" placeholder="Ajit Kumar"/>
            <br>
        </div>
        <div>
            <h4>Mobile no</h4>
            <input type="number" name="mobile" size="30" placeholder="9329329329"/>
            <br>
        </div>
        <div>
            <fieldset>
                <legend><h4>Store address:</h4></legend>
                <h4>Room / plot no.</h4>
                <input type="text" name="addressroom" size="30" placeholder="34 B-wing"/>
                <br>
                <h4>Locality:</h4>
                <input type="text" name="addresslocality" size="30" placeholder="Saidham Society"/>
                <br>
                <h4>Landmark:</h4>
                <input type="text" name="addresslandmark" size="30" placeholder="Near city mall"/>
                <br>
                <h4>District:</h4>
                <input type="text" name="addressdistrict" size="30" placeholder="Jaunpur"/>
                <br>
                <h4>pincode:</h4>
                <input type="number" name="addresspincode" size="30" placeholder="222201"/>
                <br>
            </fieldset>
        </div>
        <div>
            <h4>password</h4>
            <input type="password" name="password" size="30"/>
            <br>
        </div>
        <div>
            <h4>Confirm password</h4>
            <input type="password" name="confirmpassword" size="30"/>
            <br>
        </div>
        <div>
            <button type="submit" name="registermechanic">Register</button>
        </div>
    </form>
</body>
</html>